/* HEADERS */
.headerText {
  text-align: center;
  margin-bottom: 5vh;
}

/* TABLES */
td,
tr,
th {
  border: 1px solid lightslategray !important;
}

th {
  background-color: rgb(123, 193, 250);
}

/* LOGIN */

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* NAVIBAR */

.navibarLink {
  margin-left: 10px;
  margin-right: 10px;
}

.navbarItems {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

/* SHIFT SELECTION */

#shiftSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dotted blue;
}

#shiftSelectionButtonsContainer {
  margin: 10px;
}

.shiftSelectionButtons {
  margin: 10px;
}

.activeShift {
  font-weight: bold;
  background-color: gold;
  border: 4px solid black;
}

/* SHIFT REQUEST */

.shiftRequest {
  height: 80vh;
  width: 60vw;
  border: 3px solid green;
}

#shiftRequestTable {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

/* LINKS */

.links {
  font-family: sans-serif;
  text-align: center;
  display: block;
}

/* DP DISPLAY */

#dpDisplay {
  display: flex;
  flex-direction: column;
  height: 80vh;
  flex: 1 1 auto;
  border: 3px dotted blue;
  justify-content: center;
}

.selectedDP {
  border: 3px solid black;
  height: 23rem;
  width: 15rem;
  align-self: center;
}

.dpPreview {
  text-align: center;
  font-weight: bold;
}

/* CALENDAR */

.calendarRow {
  display: grid;
  grid-template-columns: repeat(7, 14.2857%);
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.tile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 15vh;
  border: 1px solid lightslategrey;
}

.tileDay {
  font-family: sans-serif;
}

.submitButton {
  background-color: SteelBlue;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}

.dayOfWeekTitle {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.xTile::before,
.xTile::after {
  display: inline;
  content: "";
  height: 80%;
  width: 10%;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 50%;
}

.xTile::before {
  transform: rotate(45deg);
}

.xTile::after {
  transform: rotate(-45deg);
}

.plusTile::before,
.plusTile::after {
  margin-top: 10px; /*fix vertical centering*/
  display: inline;
  content: "";
  height: 60%;
  width: 10%;
  background-color: red;
  position: absolute;
  top: 10%;
  left: 50%;
}

.plusTile::after {
  transform: rotate(90deg);
}

.noTile {
  border-style: none;
}

/* USER MANAGEMENT */

.inputText {
  margin-left: 3vh;
}

.createUserButton {
  margin-left: 3vh;
}

.sectionText {
  margin-left: 3vh;
}

.userList {
  margin-left: 3vh;
  margin-top: 8vh;
}
